.date {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #aaacbc;
}
ul li{
  list-style: none;
}

.hide {
  display: none;
}

input {
  height: 30px;
}

.inputTask>input,
.inputTask>button,
.inputTask>.trashInput {
  margin: 7px 0;
  display: inline-block;
  vertical-align: middle;
}
.inputTask>.trashInput {
  margin-left: 5px;
  margin-top: 3px;
}
#createButton.disabled {
  pointer-events: none;
  opacity: 0.5;
}
#load-more,
#show-less {
  display: none;
}
